@theme {
  --color-background: oklch(1.0000 0 0);
  --color-foreground: oklch(0.3588 0.1354 278.6973);
  --color-card: oklch(1.0000 0 0);
  --color-card-foreground: oklch(0.3588 0.1354 278.6973);
  --color-popover: oklch(1.0000 0 0);
  --color-popover-foreground: oklch(0.3588 0.1354 278.6973);
  --color-primary: oklch(0.6056 0.2189 292.7172);
  --color-primary-foreground: oklch(0.9540 0.0380 75.1640);
  --color-secondary: oklch(0.9618 0.0202 295.1913);
  --color-secondary-foreground: oklch(0.4568 0.2146 277.0229);
  --color-muted: oklch(0.9691 0.0161 293.7558);
  --color-muted-foreground: oklch(0.5413 0.2466 293.0090);
  --color-accent: oklch(0.9319 0.0316 255.5855);
  --color-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --color-destructive: oklch(0.6368 0.2078 25.3313);
  --color-destructive-foreground: oklch(1.0000 0 0);
  --color-border: oklch(0.9299 0.0334 272.7879);
  --color-input: oklch(0.9299 0.0334 272.7879);
  --color-ring: oklch(0.6056 0.2189 292.7172);
  --color-chart-1: oklch(0.6056 0.2189 292.7172);
  --color-chart-2: oklch(0.5413 0.2466 293.0090);
  --color-chart-3: oklch(0.4907 0.2412 292.5809);
  --color-chart-4: oklch(0.4320 0.2106 292.7591);
  --color-chart-5: oklch(0.3796 0.1783 293.7446);
  --color-sidebar: oklch(0.9691 0.0161 293.7558);
  --color-sidebar-foreground: oklch(0.3588 0.1354 278.6973);
  --color-sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --color-sidebar-primary-foreground: oklch(1.0000 0 0);
  --color-sidebar-accent: oklch(0.9319 0.0316 255.5855);
  --color-sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --color-sidebar-border: oklch(0.9299 0.0334 272.7879);
  --color-sidebar-ring: oklch(0.6056 0.2189 292.7172);
  
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --card: var(--color-card);
  --card-foreground: var(--color-card-foreground);
  --popover: var(--color-popover);
  --popover-foreground: var(--color-popover-foreground);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-foreground);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-foreground);
  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-destructive);
  --destructive-foreground: var(--color-destructive-foreground);
  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-ring);
  --chart-1: var(--color-chart-1);
  --chart-2: var(--color-chart-2);
  --chart-3: var(--color-chart-3);
  --chart-4: var(--color-chart-4);
  --chart-5: var(--color-chart-5);
  --sidebar: var(--color-sidebar);
  --sidebar-foreground: var(--color-sidebar-foreground);
  --sidebar-primary: var(--color-sidebar-primary);
  --sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --sidebar-accent: var(--color-sidebar-accent);
  --sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --sidebar-border: var(--color-sidebar-border);
  --sidebar-ring: var(--color-sidebar-ring);
  
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(255 86% 66%);
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --color-background: oklch(0.2077 0.0398 265.7549);
  --color-foreground: oklch(0.9299 0.0334 272.7879);
  --color-card: oklch(0.2573 0.0861 281.2883);
  --color-card-foreground: oklch(0.9299 0.0334 272.7879);
  --color-popover: oklch(0.2573 0.0861 281.2883);
  --color-popover-foreground: oklch(0.9299 0.0334 272.7879);
  --color-primary: oklch(0.6056 0.2189 292.7172);
  --color-primary-foreground: oklch(1.0000 0 0);
  --color-secondary: oklch(0.2573 0.0861 281.2883);
  --color-secondary-foreground: oklch(0.9299 0.0334 272.7879);
  --color-muted: oklch(0.2329 0.0919 279.1398);
  --color-muted-foreground: oklch(0.8112 0.1013 293.5712);
  --color-accent: oklch(0.4568 0.2146 277.0229);
  --color-accent-foreground: oklch(0.9299 0.0334 272.7879);
  --color-destructive: oklch(0.6368 0.2078 25.3313);
  --color-destructive-foreground: oklch(1.0000 0 0);
  --color-border: oklch(0.2827 0.1351 291.0894);
  --color-input: oklch(0.2827 0.1351 291.0894);
  --color-ring: oklch(0.6056 0.2189 292.7172);
  --color-chart-1: oklch(0.7090 0.1592 293.5412);
  --color-chart-2: oklch(0.6056 0.2189 292.7172);
  --color-chart-3: oklch(0.5413 0.2466 293.0090);
  --color-chart-4: oklch(0.4907 0.2412 292.5809);
  --color-chart-5: oklch(0.4320 0.2106 292.7591);
  --color-sidebar: oklch(0.2077 0.0398 265.7549);
  --color-sidebar-foreground: oklch(0.9299 0.0334 272.7879);
  --color-sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --color-sidebar-primary-foreground: oklch(1.0000 0 0);
  --color-sidebar-accent: oklch(0.4568 0.2146 277.0229);
  --color-sidebar-accent-foreground: oklch(0.9299 0.0334 272.7879);
  --color-sidebar-border: oklch(0.2827 0.1351 291.0894);
  --color-sidebar-ring: oklch(0.6056 0.2189 292.7172);
  
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --card: var(--color-card);
  --card-foreground: var(--color-card-foreground);
  --popover: var(--color-popover);
  --popover-foreground: var(--color-popover-foreground);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-foreground);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-foreground);
  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-destructive);
  --destructive-foreground: var(--color-destructive-foreground);
  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-ring);
  --chart-1: var(--color-chart-1);
  --chart-2: var(--color-chart-2);
  --chart-3: var(--color-chart-3);
  --chart-4: var(--color-chart-4);
  --chart-5: var(--color-chart-5);
  --sidebar: var(--color-sidebar);
  --sidebar-foreground: var(--color-sidebar-foreground);
  --sidebar-primary: var(--color-sidebar-primary);
  --sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --sidebar-accent: var(--color-sidebar-accent);
  --sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --sidebar-border: var(--color-sidebar-border);
  --sidebar-ring: var(--color-sidebar-ring);
  
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(255 86% 66%);
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
}